
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Koulen&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


::-ms-reveal {
    display: none;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    font-family: 'Jost', sans-serif;
    overflow: hidden;
    color: #414A4C;
}

#mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
    caret-color: transparent;
}

#loginContainer,
#loginForm{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 413px;
    height: 785px;
    fill: #FFF;
    border-radius: 25px;
    filter: drop-shadow(8px 8px 25px rgba(0, 0, 0, 0.25));  
}


#loginHeaderContainer, 
#signinHeaderContainer{
    height: 116px;
}

input[type="text"], 
input[type="password"], 
#loginButton, 
#signinButton{
    width: 297px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 7px 9px 25px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

input[type="text"], 
input[type="password"]{
    border: none;
    text-indent: 20px;
}

#loginEmailContainer{
    margin-bottom: 20px;
}







#forgotPasswordContainer{
    text-align: right;
    
}

input[type="text"]:focus, 
input[type="password"]:focus{
    outline-color: hsla(0, 0%, 0%, 0.25);
    outline-style: groove;
    outline-width: 1.5px;

}

#forgotPasswordLink{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
}

#signinLink,
#loginLink{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
}


#loginButton, 
#signinButton{
    background-color: #9BCF53;
    border: none;
    font-size: 17.28px;
    width: 297px;
}

#loginHeaderContainer{
    color: #416D19;
    font-family: "Koulen";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8;
}

#signinContainer,
#signinForm{
    display: none;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 413px;
    height: 820px;
    fill: #FFF;
    border-radius: 25px;
    filter: drop-shadow(8px 8px 25px rgba(0, 0, 0, 0.25));  
}



#signinHeaderContainer{
    color: #416D19;
    font-family: "Koulen";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: center;
    justify-content: center;
    
}

#signinStudentNumContainer,
#singinFullNameContainer,
#signinEmailContainer,
#signinPasswordContainer,
#signinPhoneNumContainer,
#confirmPasswordContainer,
#signinGenderContainer,
#signinCourseContainer{
    margin-bottom: 14px;
}

#signinGenderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 297px;
    height: 50px;
}

#confirmPasswordContainer{
    margin-bottom: 40px;
}


#radioFormContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 297px;
    height: 100%;
    margin: 0;
}

#maleContainer, #femaleContainer, #othersContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 7px 9px 25px 0px rgba(0, 0, 0, 0.25);
    ;
    background-color: #FFF;
}


#maleContainer:hover, 
#femaleContainer:hover, 
#othersContainer:hover{
    background-color: hsla(0, 0%, 0%, 0.25);
    caret-color: transparent;
}

input[type="radio"]{
    position: absolute;
    visibility: hidden;
    width: 56px;
    height: 75px;
}

#navContainer{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #416D19;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    position: absolute;
    width: 100%;
    margin: 0px;
    text-align: center;
    font-family: "Koulen";
    font-size: 2em;
    color: white;
    letter-spacing: 4px;
}

#navLogoContainer{
    color: #ffffff;
    font-family: "Koulen";
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8;
    height: 85px;
    width: 250px;
    display: absolute;

}

#dashContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f1f1f1;
    caret-color: transparent;
}

#dashboard{
    margin-top: 70px;
    display: flex;
    background-color: white;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    width: 700px;
    height: 670px;
    fill: #FFF;
    border-radius: 25px;
    filter: drop-shadow(8px 8px 25px rgba(0, 0, 0, 0.25));  
    padding: 30px;
}

#welcome{
    text-align: center;
    margin-top: 3em;
}

#welcome h5{
    font-size: 2em;
    text-wrap: nowrap;
    margin: 0px;
}

#welcome p{
    font-size: 1em;
    margin: 0px;
}


table{
    border-spacing: 0px;
}

th{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    background-color: #9BCF53;
    text-indent: 15px;
    text-align: left;
    border-radius: 30px;
    margin-bottom: 15px;
}

thead{
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}



td{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    padding: 10px;
    text-align: left;
    border-radius: 30px;
    text-indent: 15px;
}



.F{
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

#yukona{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#pls{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#buttons{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    width: 100;
    
}

#updateBTN,
#gradeBTN,
#logoutBTN,
#updateBTN:active,
#gradeBTN:active
{
    margin-left: 15px;
    background: #FFF;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-weight: 600;
    color: #9BCF53;
    border: none;
}

#logoutBTN{
    background: rgba(255, 0, 0, 0.50);
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    
}

#logoutIMG{
    display: flex;
    justify-content: center;
    align-items: center;
}